<div class="col mt-2">
    <div class="card shadow-sm">
        <div class="card-body">
            <p class="h5">{{ object.title }}</p>
            <p class="fs-6 fw-lighter">Year: {{ object.release_date|date:"Y" }}</p>
            {% if wordlimit %}
                <p class="card-text text-light-emphasis">{{ object.overview|truncatewords:wordlimit }}</p>
            {% else %}
                <p class="card-text text-light-emphasis">{{ object.overview }}</p>
            {%  endif %}
            <div class="d-flex justify-content-between align-items-center">
                {% if object.get_absolute_url not in request.path %}
                    <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                        href="{{ object.get_absolute_url }}">View</a>
                    </div>
                {% endif %}
                <div>
                    <div>
                        <select name="rate" class="form-control" id="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <small class="text-body-secondary">{{ object.rating_avg }}({{ object.ratings.count }})</small>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- title    
overview
release_date
timestamp
ratings
rating_updated
rating_avg
ratings_total -->